[submodule "vendor/culture/framework"]
	path = vendor/culture/framework
	url = https://github.com/codetheculture/framework.git
[submodule "vendor/culture/dashboard"]
	path = vendor/culture/dashboard
	url = https://github.com/codetheculture/dashboard.git
